<h2>List of Restaurant</h2>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Address</th>
            <th scope="col">Cuisine</th>
            <th scope="col">Current Menu</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let restaurant of AllRestaurant">
            <td>
                {{ restaurant.name }}
            </td>
            <td>
                {{ restaurant.address }} {{ restaurant.city }}, {{restaurant.state }}
            </td>
            <td>
                <p *ngFor="let cuisine of restaurant.cuisine">
                {{ cuisine.cuisine_type }}
                </p>
            </td>
            
            <td>
                <button type="button" class="btn btn-link" (click)="getCurrentMenu(restaurant.id)">{{ restaurant.name }} Menu</button> 
            </td>
        </tr>
    </tbody>
    
</table>
