<h1>{{ currentrest.name }}</h1>
<p>Address: {{ currentrest.address}} {{ currentrest.city }}, {{ currentrest.state }}</p>
<span>Current Grade: </span><span *ngFor="let grade of currentrest.grade">{{ grade.grade }}</span>
<br>
<span>Average Score: </span><span *ngFor="let score of restavgscore">{{ score }}/100</span>
<br>

<button id="menubtn" type="button" class="btn btn-link" (click)="IO_Menu()">{{ menu_btn }}</button>
<div *ngIf="menu">
    <ul *ngFor="let menu of currentrest.menu" class="list-group">
        <li class="list-group-item">
            {{ menu.dish }} | {{ menu.price | currency:'USD'}}
        </li>
    </ul>
</div>
